.add-flight, .manage-flight {
    position: relative;
}

.add-flight {
    background-color: white;
    padding: 5px;
}

.input-row {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.input-item {
    position: relative;
    width: 300px;
}

.input-item-title {
    display: inline-block;
    position: relative;
    width: 5em;
}

.input-item-content {
    display: inline-block;
    position: relative;
}