.nav {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #1890ff;
  text-align: right;
  z-index: 1;
}

.nav-user, .nav-home {
  position: relative;
  height: 100%;
  line-height: 40px;
}

.nav-login, .nav-sign {
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-login:link, .nav-sign:link, .nav-login:visited, .nav-sign:visited {
  color: white;
}

.nav-login:hover, .nav-sign:hover, .nav-login:active, .nav-sign:active {
  color: #f74d5d;
}

.nav-home {
  position: absolute;
  left: 0;
}
